<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div dir="ltr">
  <div class="topPage">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="defaultLanguage"
    >
      <mat-button-toggle value="en" routerLink="/login-en"
        >English</mat-button-toggle
      >
      <mat-button-toggle value="ar" routerLink="/login"
        >العربية</mat-button-toggle
      >
    </mat-button-toggle-group>
    <span routerLink="/home">Home<i class="fa fa-angle-right"></i></span>
  </div>
  <div class="pageContent">
    <div class="log-img"></div>
    <div class="log-inputs">
      <div style="height: 30px" *ngIf="!user"></div>
      <div class="log-header">
        <h1 class="title">Logn In</h1>
        <div class="log-menu" *ngIf="userv === 'Choose your identity'">
          <div
            aria-label="user selection"
            [matMenuTriggerFor]="menu"
            class="selected-option"
          >
            Choose your identity
            <i
              class="fa fa-angle-down"
              style="padding-right: 10px; font-size: large"
            ></i>
          </div>
          <mat-menu #menu="matMenu">
            <div class="option">
              <button mat-menu-item (click)="changeUser('individuals')">
                individuals
              </button>
            </div>
            <div class="option">
              <button
                mat-menu-item
                (click)="changeUser('Business and government agencies')"
                name="userv"
                [(ngModel)]="userv"
              >
                Business and government agencies
              </button>
            </div>
          </mat-menu>
        </div>

        <div class="log-menu" *ngIf="userv === 'individuals'">
          <div
            aria-label="user selection"
            [matMenuTriggerFor]="menu"
            class="selected-option"
          >
            <span> individuals </span>
            <i class="fa fa-angle-down" style="padding-right: 10px"></i>
          </div>

          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="changeUser('Business and government agencies')"
              name="userv"
              [(ngModel)]="userv"
            >
              Business and government agencies
            </button>
          </mat-menu>
        </div>

        <div
          class="log-menu"
          *ngIf="userv === 'Business and government agencies'"
        >
          <div
            aria-label="user selection"
            [matMenuTriggerFor]="menu"
            class="selected-option"
          >
            <span> Business and government agencies</span>
            <i class="fa fa-angle-down" style="padding-right: 10px"></i>
          </div>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeUser('individuals')">
              individuals
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="title" *ngIf="user">Unified National Access Portal</div>
      <p class="desc" *ngIf="user">
        You can log in using the username and password used in the unified
        national access platform .. in order to benefit from the electronic
        services provided
      </p>

      <div class="log-way" *ngIf="user">
        <div class="logo">
          <img src="../../assets/borderImg.svg" />
        </div>
        <div class="divider"></div>
        <div class="title">With unified national access portal</div>
      </div>
      <div class="divider-horizontal" *ngIf="user"></div>

      <div class="log-form">
        <h1 class="title" *ngIf="user">Log In</h1>
        <mat-form-field appearance="outline">
          <mat-label class="input-label"> User Name</mat-label>
          <input matInput placeholder=" User Name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">Password</mat-label>
          <input matInput placeholder="Password" />
        </mat-form-field>

        <div class="forgot-password" routerLink="/forgot-password-en">Forget Password ?</div>

        <div class="log-captcha" *ngIf="!user">
          <p class="title">Enter the text shown in the image</p>
          <div class="captcha-content">
            <div class="captcha-img">
              <img src="../../assets/captcha.svg" />
            </div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label class="input-label"
                >Enter the text shown in the image</mat-label
              >
              <input
                matInput
                placeholder=" Enter the text shown in the image"
              />
            </mat-form-field>
          </div>
        </div>
        <button
          class="log-action"
          *ngIf="(!form.username || !form.mdp) && user"
        >
          Log In
          <i class="fa fa-angle-left" style="padding-right: 5%"></i>
        </button>
        <button
          class="log-action"
          *ngIf="(!form.username || !form.mdp || !form.captcha) && !user"
        >
          Log In
          <i class="fa fa-angle-left" style="padding-right: 5%"></i>
        </button>
        <button
          class="log-action"
          [class.active-btn]="form.username && form.mdp && user"
          *ngIf="form.username && form.mdp && user"
        >
          Log In
          <i class="fa fa-angle-left" style="padding-right: 5%"> </i>
        </button>
        <button
          class="log-action"
          [class.active-btn]="
            form.username && form.mdp && form.captcha && !user
          "
          *ngIf="form.username && form.mdp && form.captcha && !user"
        >
          Log In
          <i class="fa fa-angle-left" style="padding-right: 5%"> </i>
        </button>
      </div>
    </div>
  </div>
</div>
