<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div dir="ltr" style="background: #f5f5f5">
  <div class="topHeader">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="defaultLanguage"
    >
      <mat-button-toggle value="en" routerLink="/contract-eo-en"
        >English</mat-button-toggle
      >
      <mat-button-toggle value="ar" routerLink="/contract-eo">العربية</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="socialIcons">
      <p>Join us</p>
      <i class="fa fa-youtube-play"></i>
      <i class="fa fa-twitter"></i>
    </div>
  </div>
  <app-navbar-en></app-navbar-en>
  <div class="stepper-form">
    <div class="stepper">
      <div class="title">Service stages</div>
      <h1>Service Step</h1>
      <p>
        To complete this service, you must fill out all the forms. You can
        proceed to the next step only after you have filled out all the forms in
        the current step.
      </p>
    </div>
    <mat-stepper [selectedIndex]="currentStepIndex">
      <mat-step label=" First phase">
        <div class="form">
          <h1>Contracting with an engineering office</h1>
          <div class="fields">
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
          </div>
          <div class="actions">
            <button class="next" matStepperNext>
              Next <i class="fa fa-angle-right" style="padding-left: 10px"></i>
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Second phase">
        <div class="form">
          <h1>Contracting with an engineering office</h1>
          <div class="fields">
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
          </div>
          <div class="actions">
            <button class="back" mat-button matStepperPrevious>Previous</button>
            <button class="next" matStepperNext>
              Next <i class="fa fa-angle-right" style="padding-left: 10px"></i>
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Third phase">
        <div class="form">
          <h1>Contracting with an engineering office</h1>
          <div class="fields">
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="input-label">User Name</mat-label>
              <input matInput placeholder="User Name" />
            </mat-form-field>
          </div>
          <div class="actions">
            <button class="back" mat-button matStepperPrevious>Previous</button>
            <button class="next" matStepperNext>
              Next <i class="fa fa-angle-right" style="padding-left: 10px"></i>
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div class="stepper-details">
          <div class="title">
            <h1>Service stages</h1>
            <p>Data details</p>
          </div>
          <hr />
          <div class="step">
            <div class="step-title">
              <div class="number">1</div>
              Car sticker licenses
            </div>
            <div class="step-details">
              <div class="field">
                <label>Beneficiary name</label>
                <p>12524</p>
              </div>
              <div class="field">
                <label>applicant status</label>
                <p>Car sticker licenses</p>
              </div>
              <div class="field">
                <label>Commercial Registration No</label>
                <p>Car sticker licenses</p>
              </div>
            </div>
            <div class="step-action">
              <button (click)="navigateToFirstStep()">
                Edit Form
                <i class="fa fa-pencil" style="padding-right: 10px"></i>
              </button>
            </div>
          </div>
          <hr />
          <div class="step">
            <div class="step-title">
              <div class="number">1</div>
              Car sticker licenses
            </div>
            <div class="step-details">
              <div class="field">
                <label>Beneficiary name</label>
                <p>12524</p>
              </div>
              <div class="field">
                <label>applicant status</label>
                <p>Car sticker licenses</p>
              </div>
              <div class="field">
                <label>Commercial Registration No</label>
                <p>Car sticker licenses</p>
              </div>
            </div>
            <div class="step-action">
              <button (click)="navigateToStep(1)">
                Edit Form
                <i class="fa fa-pencil" style="padding-right: 10px"></i>
              </button>
            </div>
          </div>
          <hr />
          <div class="step">
            <div class="step-title">
              <div class="number">1</div>
              Car sticker licenses
            </div>
            <div class="step-details">
              <div class="field">
                <label>Beneficiary name</label>
                <p>12524</p>
              </div>
              <div class="field">
                <label>applicant status</label>
                <p>Car sticker licenses</p>
              </div>
              <div class="field">
                <label>Commercial Registration No</label>
                <p>Car sticker licenses</p>
              </div>
            </div>
            <div class="step-action">
              <button (click)="navigateToStep(2)">
                Edit Form
                <i class="fa fa-pencil" style="padding-right: 10px"></i>
              </button>
            </div>
          </div>
          <hr />
          <div class="action">
            <button data-bs-toggle="modal" data-bs-target="#myModal">
              Send <i class="fa fa-angle-right" style="padding-right: 10px"></i>
            </button>
          </div>
        </div>
      </mat-step>

      <ng-template matStepperIcon="step1">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="step2">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-stepper>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="exit-btn">
          <div data-bs-dismiss="modal">
            <i class="fa fa-times-circle"></i>
          </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="img">
            <img src="../../assets/modalImg.svg" />
          </div>
          <h1 class="title">Your request has been submitted successfully.</h1>
          <p class="desc">
            There is a proven fact from a long time ago that the readable
            content of a page will not distract the reader from focusing on the
            external appearance of the text or the form of paragraphs placed on
            the page that he reads.
          </p>
          <button class="action">
            My requests
            <i class="fa fa-mouse-pointer" style="padding-right: 10px"></i>
          </button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-top-0"></div>
      </div>
    </div>
  </div>

  <app-footer-en></app-footer-en>
</div>
