<mat-card class="cardContainer">
    <mat-card-header>
      <img src={{cardDetails.src}} alt="card icon"/>
    </mat-card-header>
    <mat-card-content>
      <h1>{{cardDetails.title}}</h1>
      <p>{{ cardDetails.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <h6 [class.hide-action]="hideActionDetails" routerLink={{cardDetails.serviceDetailsLink}}>تفاصيل الخدمة</h6>
      <button mat-button routerLink={{cardDetails.link}}> {{cardDetails.action}} <img src="../../assets/leftUpIcon.svg"/></button>
    </mat-card-actions>
  </mat-card>
