<div class="code-confirmation" dir="rtl">
    <img src="../../assets/Icons/email-icon.svg" />
    <h1>رمز التحقق</h1>
    <p>ادخل رمز التحقق المرسل على الرقم <span>603**** </span></p>
  <form action="#">
    <div class="d-flex mb-3">
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
    </div>
    <p>تواجه مشكلة أثناء التحقق ؟<span>00:59</span></p>
    <button type="submit" routerLink="/home">التالي</button>
  </form>
</div>
