<div class="FooterContainer">
  <div class="topFooter">
    <div class="logos">
      <img src="../../assets/logo.svg" />
      <img src="../../assets/logo-vision.svg" />
    </div>
    <div class="email">
      <h1>940</h1>
      <p>940@alriyadh.gov.sa</p>
    </div>
  </div>

  <div class="footerContent">
    <div class="links">
      <div class="links-title">
        <h5>الدعم والمساندة</h5>
      </div>
      <div class="links-content">
        <a href="https://www.alriyadh.gov.sa/ar/ContactUs" target=""
          >تواصل معنا
        </a>

        <a href="/Pages/Support/ProblemTicket.aspx" target="">رفع شكوى </a>

        <a href="https://www.alriyadh.gov.sa/ar/ContactUs/Corruption" target=""
          >التبليغ عن فساد
        </a>

        <a href="/Pages/FAQ.aspx" target="">الاسئلة الشائعة </a>

        <a href="https://www.alriyadh.gov.sa/ar/support" target="">
          مركز الدعم الموحد
        </a>

        <a
          href="https://www.my.gov.sa/wps/portal/snp/servicesDirectory/servicedetails/A8854"
          target="_blank"
          >الدعم الفني بلغة الإشارة
        </a>

        <a
          href="https://www.alriyadh.gov.sa/ar/content/bFBrV3ppVVVtSlU9"
          target=""
          >سياسة حق الحصول على المعلومة
        </a>
      </div>
    </div>
    <div class="links">
      <div class="links-title">
        <h5>نظرة عامة</h5>
      </div>
      <div class="links-content">
        <a
          href="https://www.alriyadh.gov.sa/ar/content/AboutAmana/THJFOTBjWHdwL289"
          target=""
        >
          من نحن
        </a>

        <a href="https://www.alriyadh.gov.sa/ar/content/S3IzWFdtYS9NdzA9"
          >الخصوصية وسرية المعلومات</a
        >

        <a href="https://www.alriyadh.gov.sa/ar/content/ZUtTR0hTSWJURlE9"
          >شروط الاستخدام</a
        >

        <a href="https://www.alriyadh.gov.sa/ar/newslettersx" target="_blank"
          >النشرة البريدية
        </a>

        <a href="https://www.alriyadh.gov.sa/ar/content/YlVRd1ZEU2ZueFk9"
          >اتفاقية مستوى الخدمة</a
        >

        <a
          href="https://eservices-pre.alriyadh.gov.sa/Pages/UserGuides/Documents"
          target=""
          >ادلة الاستخدام</a
        >
      </div>
    </div>

    <div class="links">
      <div class="links-title">
        <h5>روابط مهمة</h5>
      </div>
      <div class="links-content">
        <a href="https://www.my.gov.sa/wps/portal/snp/main" target="_blank"
          >منصة الخدمة الوطنية
        </a>

        <a href="https://od.data.gov.sa/en/home" target="_blank"
          >منصة البيانات المفتوحة
        </a>

        <a
          href="https://istitlaa.ncc.gov.sa/en/Pages/default.aspx"
          target="_blank"
          >منصة الاستشارات القانونية (استطلاع)
        </a>

        <a href="https://eparticipation.my.gov.sa/en/" target="_blank"
          >منصة المشاركة المجتمعية (تفاعل)
        </a>

        <a href="/Pages/BLS/Common/BuildingCodes.aspx">الكود العمراني</a>
      </div>
    </div>
  </div>

  <div class="bottomFooter">
    <span>جميع الحقوق محفوظة © أمانة منطقة الرياض&nbsp; </span>

    <div class="social-icons">
      <p>تفضلوا بالانضمام إلينا</p>
      <a
        href="https://www.facebook.com/pages/amant-mntqt-alryad/137958536245929"
        ><img src="../../assets/social-icons/facebook.svg"
      /></a>
      <a href="https://twitter.com/amanatalriyadh"
        ><img src="../../assets/social-icons/twitter.svg"
      /></a>
      <a href="https://www.youtube.com/channel/UCwHl8ipDFzOlZTI5YA_8_FQ"
        ><img src="../../assets/social-icons/youtube.svg"
      /></a>
    </div>
  </div>
</div>
