<div class="FooterContainer">
    <img src="../../assets/logo.svg"/>
    <p>يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في مدينة الرياض الذي يوفر الوقت والجهد والمعاملات الورقية التقليدية، ما عليك سوى اختيار الخدمة
    </p>
    <nav>
        <a routerLink="/home"    routerLinkActive="active">الرئيسية</a>
        <a routerLink="/e-services"   routerLinkActive="active">الخدمات الالكترونية</a>
        <a routerLink="page3" routerLinkActive="active">الدعم والمساعدة</a>
    </nav>    
</div>
