<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<mat-sidenav-container dir="rtl">
  <mat-sidenav #sidenav mode="over">
    <div class="sideHeader">
      <img src="../../assets/شعار الأمانه افقي.svg" />
      <img
        (click)="toggleSideNav(); sidenav.toggle()"
        src="../../assets/navbarIcons/exitIcon.svg"
      />
    </div>
    <hr />
    <nav>
      <a routerLink="home" (click)="clickHandler()" routerLinkActive="active"
        >الرئيسية</a
      >
      <hr />
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              الخدمات الالكترونية
              <mat-icon *ngIf="!panelOpenState">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="panelOpenState">keyboard_arrow_up</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="electronic-services">
            <div class="sidemenu-services">
              <div class="title">
                <p>الخدمات</p>
                <p>كل الخدمات</p>
              </div>
              <div class="sidemenu-links">
                <div *ngFor="let link of mobileServicesLinks">
                  <div class="link">
                    <img src="{{ link.icon }}" />
                    <div class="content" routerLink="{{ link.route }}">
                      <span> {{ link?.title }}</span>
                      <p>{{ link?.description }}</p>
                    </div>
                  </div>
                  <hr style="color: #7c998e" />
                </div>
              </div>
            </div>
            <hr style="color: #7c998e" />
            <div class="sidemenu-services">
              <div class="title">
                <p>الأكثر إستخداماً</p>
              </div>
              <div class="sidemenu-links">
                <div *ngFor="let link of usedLinks">
                  <div class="link">
                    <img
                      src="{{ link.icon }}"
                      style="width: 19px; height: 19px"
                    />
                    <div class="content">
                      <span>{{ link.title }}</span>
                    </div>
                  </div>
                  <hr style="color: #7c998e" />
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <hr />
      <a
        routerLink="#"
        (click)="clickHandler()"
        routerLinkActive="active"
        >الدعم والمساعدة</a
      >
    </nav>
    <hr />
    <div
      aria-label="user selection"
      [matMenuTriggerFor]="menu"
      class="userMenuMobile"
    >
      <img matChipAvatar src="../../assets/avatar.svg" alt="Photo user" />
      <span>
        اسم المستخدم
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </div>
    <hr />
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="defaultLanguage"
    >
      <mat-button-toggle value="en" routerLink={{linkPageEn}}
        >English</mat-button-toggle
      >
      <mat-button-toggle value="ar" routerLink={{linkPageAr}}
        >العربية</mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <header>
        <img src="../../assets/logos/mobile_logo.svg" class="mobile-logo" />
        <img src="../../assets/شعار الأمانه افقي.svg" class="screen-logo" />
        <mat-icon (click)="toggleSideNav(); sidenav.toggle()" class="menu-icon"
          >menu</mat-icon
        >
        <nav>
          <a routerLink="/home" routerLinkActive="active">الرئيسية</a>
          <a
            #createPlanmenuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="submenu"
            (mouseover)="createPlanmenuTrigger.openMenu()"
            (mouseout)="
              $event.stopPropagation(); createPlanmenuTrigger.openMenu()
            "
          >
            الخدمات الالكترونية

            <mat-icon *ngIf="!createPlanmenuTrigger.menuOpen"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="createPlanmenuTrigger.menuOpen"
              >keyboard_arrow_up</mat-icon
            >
          </a>
          <a routerLink="#" routerLinkActive="active"
            >الدعم والمساعدة</a
          >
        </nav>
        <div class="submenu">
          <mat-menu
            #submenu="matMenu"
            xPosition="before"
            style="margin: 0 auto"
            class="submenu"
          >
            <div class="services_menu">
              <div class="services">
                <div class="title">
                  <h1>
                    الخدمات
                    <p>(الأعمال والجهات الحكومية)</p>
                  </h1>
                  <p class="all-services" routerLink="/e-services">
                    كل الخدمات
                    <img
                      src="../../assets/navbarIcons/arrow-left-up-green.svg"
                    />
                  </p>
                </div>
                <div class="links">
                  <div *ngFor="let link of servicesLinks" class="link">
                    <img src="{{ link.icon }}" />
                    <div class="content" routerLink="{{ link.route }}">
                      <span> {{ link?.title }}</span>
                      <p>{{ link?.description }}</p>
                    </div>
                    <p class="all-services" routerLink="/e-services">
                      كل الخدمات
                      <img
                        src="../../assets/navbarIcons/arrow-left-up-green.svg"
                      />
                    </p>
                  </div>
                </div>
              </div>
              <mat-divider [vertical]="true" style="width: 1px"></mat-divider>
              <div class="services">
                <div class="title">
                  <h1>الأكثر إستخداماً</h1>
                </div>
                <div class="links">
                  <div *ngFor="let link of usedLinks" class="link">
                    <img
                      src="{{ link.icon }}"
                      style="width: 19px; height: 19px"
                    />
                    <div>
                      <span>{{ link.title }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
        <div
          aria-label="user selection"
          [matMenuTriggerFor]="menu"
          class="userMenu"
        >
          <img matChipAvatar src="../../assets/avatar.svg" alt="Photo user" />
          <span>
            اسم المستخدم
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>

        <mat-menu #menu="matMenu" style="width: 220px" class="matMenu-open">
          <div
          aria-label="user selection"
          [matMenuTriggerFor]="menu"
          class="open-userMenu"
        >
          <img matChipAvatar src="../../assets/avatar.svg" alt="Photo user" />
          <span>
            اسم المستخدم
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>
          <div class="option">
            <button mat-menu-item routerLink="/login">
              تبديل الحساب <mat-icon>shuffle</mat-icon>
            </button>
            <span style="color: #056946">الأعمال والجهات الحكومية</span>
            <mat-divider style="width: 90%; margin: 10px auto"></mat-divider>
          </div>
          <div class="option">
            <button mat-menu-item routerLink="/login">
              <mat-icon>person_add</mat-icon> حساب جديد
            </button>
            <span> التوظيف وتدريب التعاوني</span>
            <br />
            <span>موظف</span>
            <mat-divider style="width: 90%; margin: 10px auto"></mat-divider>
          </div>
          <div class="option">
            <button mat-menu-item routerLink="/login">
              <mat-icon>person_add</mat-icon> حسابي
            </button>
            <mat-divider style="width: 90%; margin: 10px auto"></mat-divider>
          </div>
          <div class="option">
            <button mat-menu-item>
              <img src="./assets/logoutIcon.svg" /> خروج
            </button>
          </div>
        </mat-menu>
      </header>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
