<div class="forgot-password" dir="ltr">
    <img src="../../assets/Icons/email-icon.svg" />
    <h1>Forgot Business and Government Account Passwords</h1>
    <p>There is a long-established fact that the readable content of a page will distract the reader from focusing on the external appearance or the arrangement of paragraphs on the page being read</p>
    <mat-form-field appearance="outline">
      <mat-label class="input-label">Mobile phone number</mat-label>
      <input matInput placeholder="Enter the mobile phone number" />
    </mat-form-field>
    <button routerLink="/code-confirmation-en"> Send code</button>
  </div>
  