<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div dir="rtl" style="background: #f5f5f5;">
  <div class="topHeader">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="defaultLanguage"
    >
      <mat-button-toggle value="en" routerLink="/contract-eo-en"
        >English</mat-button-toggle
      >
      <mat-button-toggle value="ar" routerLink="/contract-eo">العربية</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="socialIcons">
      <p>تفضلوا بالانضمام إلينا</p>
      <i class="fa fa-youtube-play"></i>
      <i class="fa fa-twitter"></i>
    </div>
  </div>
  <app-navbar></app-navbar>

  <div class="stepper-form">
    <div class="stepper">
      <div class="title">خدمة إنشاء معاملة الكترونية</div>
      <h1>مراحل الخدمة</h1>
      <p>
        لإتمام هذه الخدمة، يجب ملء جميع النماذج. يمكنك المتابعة للخطوة التالية
        فقط بعد ملء جميع النماذج في الخطوة الحالية
      </p>
      <div class="steps">
        <div class="step">
          <i class="fa fa-check-circle"></i>
          تراخيص ملصقات السيارات
        </div>
        <div class="step">
          <i class="fa fa-check-circle"></i>بيانات السيارات
        </div>
        <div class="last-step">
          <div class="step-number">3</div>
          تراخيص ملصقات السيارات
        </div>
      </div>
    </div>
    <div class="form" *ngIf="!step">
      <h1>التعاقد مع مكتب هندسي</h1>
      <div class="fields">
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="input-label">اللقب</mat-label>
          <input matInput placeholder="اللقب" />
        </mat-form-field>
      </div>
      <div class="actions">
        <button class="back">السابق</button>
        <button class="next" (click)="Next()">
          التالي
          <i class="fa fa-angle-left" style="padding-right: 10px"></i>
        </button>
      </div>
    </div>
    <div class="details" *ngIf="step">
      <div class="title">
        <h1>التعاقد مع مكتب هندسي</h1>
        <p>تفاصيل البيانات</p>
      </div>
      <hr />
      <div class="step">
        <div class="step-title">
          <div class="number">1</div>
          تراخيص ملصقات السيارات
        </div>
        <div class="step-details">
          <div class="field">
            <label>اسم املستفيد</label>
            <p>12524</p>
          </div>
          <div class="field">
            <label>صفة مقدم الطلب</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
          <div class="field">
            <label>رقم السجل التجاري</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
        </div>
        <div class="step-action">
          <button>
            تعديل البيانات
            <i class="fa fa-pencil" style="padding-right: 10px"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="step">
        <div class="step-title">
          <div class="number">1</div>
          تراخيص ملصقات السيارات
        </div>
        <div class="step-details">
          <div class="field">
            <label>اسم املستفيد</label>
            <p>12524</p>
          </div>
          <div class="field">
            <label>صفة مقدم الطلب</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
          <div class="field">
            <label>رقم السجل التجاري</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
        </div>
        <div class="step-action">
          <button>
            تعديل البيانات
            <i class="fa fa-pencil" style="padding-right: 10px"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="step">
        <div class="step-title">
          <div class="number">1</div>
          تراخيص ملصقات السيارات
        </div>
        <div class="step-details">
          <div class="field">
            <label>اسم املستفيد</label>
            <p>12524</p>
          </div>
          <div class="field">
            <label>صفة مقدم الطلب</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
          <div class="field">
            <label>رقم السجل التجاري</label>
            <p>تراخيص ملصقات السيارات</p>
          </div>
        </div>
        <div class="step-action">
          <button>
            تعديل البيانات
            <i class="fa fa-pencil" style="padding-right: 10px"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="action">
        <button data-bs-toggle="modal" data-bs-target="#myModal">
          إرسال
          <i class="fa fa-angle-left" style="padding-right: 10px"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="exit-btn">
          <div data-bs-dismiss="modal">
            <i class="fa fa-times-circle"></i>
          </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="img">
            <img src="../../assets/modalImg.svg" />
          </div>
          <h1 class="title">تم إرسال الطلب بنجاح</h1>
          <p class="desc">
            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
            القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في
            الصفحة التي يقرأها.
          </p>
          <button class="action">
            طلباتي
            <i class="fa fa-mouse-pointer" style="padding-right: 10px"></i>
          </button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-top-0"></div>
      </div>
    </div>
  </div>

  <app-sh-footer></app-sh-footer>
</div>
