.cnt{
    text-align: right;
    background-color: #F5F5F5;
    display: flex;
    padding: 60px;
    padding-bottom: 80px;
}
.cnt1{
    margin-right: 0%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    
    display: inline-block;
    flex: 3;
    margin-right: 40px;
    border-radius: 50px;
    height: max-content;
}
.cnt2{
  width: 30%;
  margin-left: 0%;
  background-color: white;
  height: max-content;
  flex: 1;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.p1{
    font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    margin-top: 50px;
    color: #0B0B0B;
}

.p2{
    font-family: 'Bahij TheSansArabicLight';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 33px;
text-align: right;
color: #011F15;
margin-top: 50px;
margin-bottom: 40px;
}
.ipt{
    border: 1px solid #E8E8E8;
border-radius: 10px;
width: 100%;
height: 55px;
margin-top: -8px;
margin-bottom: 35px;
text-align:right;
display: flex;

font-family: 'Bahij TheSansArabicExtraLight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #363B38;

 }
 .lb{
  
    text-align:right;
    position: relative;
    margin-right: 40px;
    color: #66716D;
    letter-spacing: 0.4px;


 }
 .btn{
    background: #056946;
    border-radius: 100px;
    width: 129px;
height: 54px;
    border: 1px solid #DDDDDD;
    
    font-family: 'Bahij TheSansArabic';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.1px;

/* Gray - white/W1 */

color: #E6F0EC;
margin-top: 20px;
margin-bottom: 20px;
padding-left: 5%;
margin-left: 20px;
 }
 .btn1{

    background: #FFFFFF;
    border-radius: 100px;
    width: 154px;
    height: 54px;;
    border: 1px solid #ffffff;
    
    font-family: 'Bahij TheSansArabic';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.1px;

/* Gray - white/W1 */

color: #056946;
margin-top: 20px;
margin-bottom: 20p;
margin-left: 40px;
 }
 .p3{
    font-family: 'Bahij TheSansArabicExtraLight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
text-align: right;

/* Gray - Dark/G2 */

color: #66716D;

 }
 .p4{
    font-family: 'Bahij TheSansArabicExtraLight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
text-align: right;
color: #056946;
align-items: center;
    

 }
 .fa-check-circle{
    font-size:30px;
    margin-left: 20px;
 }
 .stepper{
    margin-top: 40px;
    text-align: right;
    
 }
 
 .p5{
    font-family: 'Bahij TheSansArabicExtraLight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
text-align: right;
color: #66716D;
display: flex;
margin-left: 19%;

 }
 .center {
    background: #ffffff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    align-items: center;
    text-align: right;
    border: 1px dashed #66716D;

    font-family: 'Bahij TheSansArabicExtraLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #66716D;
    margin-left: 20px;

  }
  .p6{
    font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #66716D;
    margin-top: 50px;
  }
  h1{
        font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 62px;
    color: #011F15;
  }
  .p7{
    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
     color: #66716D;
     padding-bottom: 30px;
     border-bottom: 1px solid #DDDDDD;
  }
  .top{
    padding: 40px;
    border-width: 80%;
    text-align: center;
  }
  .p8{

    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #011F15;
    text-align: center;
    padding: 0%;
    margin-left: 30%;
    margin-bottom: 60px;
   
  }
  .cercle{
    background: #000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px;
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 20px;

  }
  .div2{
    text-align: center;
    align-items: center;
    
    
    
  }
  .p9{

    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-align: right;
    color: #66716D;

  }
  .p10{
    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-align: right;
    color: #2C302F;
    margin-bottom: 50px;
  }
  .col1{
    padding-right: 15%;
  }
  .btn2{

    background: #E6F0EC;
    border: 1px solid #E6F0EC;
    border-radius: 100px;
    width: 249px;
    height: 54px;
    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
  
    letter-spacing: 0.1px;
     color: #056946;
     margin-bottom: 40px;
  }
  .fa-pencil{
    font-size: 25px;
  }
  hr{
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  .last{
   
    display: flex;
    
  }
  .select{
    width: 50%;
    padding: 5px;
    margin-right: 0px;
  }
  .form-check{
    text-align: right;
  }
  .clbtn{
    background-color: #FFFFFF;
    border: 1px solid transparent;
    color: #66716da2;
    font-size: 30px;
    text-align: right;
    margin-left: 90%;
  }
  .modal-header{
    text-align: right;
  }
  .modal-content{
    border-radius: 50px;
  }
  .modal-body{
    text-align: center;
  }
  .img{
    width: 90px;
    height: 100x;
    margin-left: 45%;
  }
  .p11{
    font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    color: #011F15;
    margin-top: 40px;
  }
  .p12{
    font-family: 'Bahij TheSansArabicExtraLight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #2C302F;
    margin-left: 10%;
    margin-right: 10%;
  }
  .btn3{

    background: #056946;
    border: 1px solid #056946;
    border-radius: 100px;
    width: 224px;
    height: 88px;
    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
  
    letter-spacing: 0.1px;
     color:  #E6F0EC;
     margin-bottom: 40px;
     margin-top: 60px;
  }
  .fa-mouse-pointer{
    font-size: 25px;
  }
  .modal{
    background: #00110B;
    opacity: 0.97;
  }