<div class="pageContent" dir="rtl">
  <div class="page-top">
    <div class="topHeader">
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [(ngModel)]="defaultLanguage"
      >
        <mat-button-toggle value="en" routerLink="/electronic-service-portal-en"
          >English</mat-button-toggle
        >
        <mat-button-toggle value="ar" routerLink="/electronic-service-portal"
          >العربية</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div class="socialIcons">
        <p>تفضلوا بالانضمام إلينا</p>
        <i class="fa fa-youtube-play"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
    <app-header (sideNavToggled)="onSideNavToggled()" linkPageAr="/e-services" linkPageEn="/e-services-en">
      <h1>بوابة الخدمات الإلكترونية</h1>
      <p>
        يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في
        مدينة الرياض الذي يوفر الوقت والجهد والمعاملات الورقية التقليدية، ما
        عليك سوى اختيار الخدمة
      </p>
    </app-header>
    <div class="headerBottom" *ngIf="!isSideNavOpen">
      <div class="search">
        <mat-icon>search</mat-icon>
        <input placeholder="ابحث عن خدمة " />
      </div>
      <mat-divider vertical style="height: 53px"></mat-divider>
      <mat-tab-group
        mat-stretch-tabs="false"
        (selectedTabChange)="selectedTabValue($event)"
      >
        <mat-tab label="أفراد"> </mat-tab>
        <mat-tab label="الأعمال والجهات الحكومية"></mat-tab>
        <mat-tab label="التوظيف وتدريب التعاوني"></mat-tab>
        <mat-tab label="موظف"></mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="electronic-services">
    <div class="services">
      <app-card
        *ngFor="let service of services"
        [cardDetails]="service"
        [hideActionDetails]="true"
      ></app-card>
    </div>
  </div>

  <div class="bottom-content">
    <div class="find-service">
      <app-find-service></app-find-service>
    </div>
    <div class="footer">
      <app-sh-footer></app-sh-footer>
    </div>
  </div>
</div>
