<div dir="rtl">
    <div class="find-service">
        <h1>Did you find the service you were looking for?</h1>
        <div class="questions">
          <div class="question">
            <div class="title">
              1-
              <br />
             Select The Service
            </div>
            <div class="response">
                The electronic services system provides all the services that citizens in the city of Riyadh may need.

            </div>
          </div>
    
          <div class="question">
            <div class="title">
              2-
              <br />
            
              Selecting the Service Type
            </div>
            <div class="response">
                The electronic services system provides all the services that citizens in the city of Riyadh may need.

            </div>
          </div>
    
          <div class="question">
            <div class="title">
              3-
              <br />
              Identity verification
            </div>
            <div class="response">
                The electronic services system provides all the services that citizens in the city of Riyadh may need.

            </div>
          </div>
        </div>
        <div class="action">
          <button><img src="../../assets/arrow-up-left.svg"/>Support and assistance</button>
        </div>
      </div>
</div>
