<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="topHeader" >
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="defaultLanguage" >
    <mat-button-toggle value="en" routerLink="/home-en">English</mat-button-toggle>
    <mat-button-toggle value="ar" routerLink="/home">العربية</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="socialIcons">
    <p>Join Us</p>
    <i class="fa fa-youtube-play"></i>
    <i class="fa fa-twitter"></i>
  </div>
</div>
<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over">
		<!-- <label>My Application</label> -->
        <img src="../../assets/شعار الأمانه افقي.svg"/> 
    <hr/>   
		<nav>
			<a routerLink="home-en"      (click)="clickHandler()" routerLinkActive="active">Home</a>
			<a routerLink="page1"     (click)="clickHandler()" routerLinkActive="active">E-Service</a>
			<a routerLink="page2"     (click)="clickHandler()" routerLinkActive="active"> Service</a>
			<a routerLink="page3"   (click)="clickHandler()" routerLinkActive="active">Help And Support</a>
		</nav> 
    <hr />
    <div aria-label="user selection" [matMenuTriggerFor]="menu" class="userMenuMobile">
        <img matChipAvatar src="../../assets/avatar.svg" alt="Photo user"/>
        <span>
        User Name Here
        <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
      </div>
      <hr />
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="defaultLanguage" >
        <mat-button-toggle value="en" routerLink="/home-en">English</mat-button-toggle>
        <mat-button-toggle value="ar" routerLink="/home">العربية</mat-button-toggle>
      </mat-button-toggle-group>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar>
			<header>
				<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
				<!-- label>My Application</label> -->
                <img src="../../assets/شعار الأمانه افقي.svg"/> 

        <nav>
          <a routerLink="home"    routerLinkActive="active">Home</a>
          <a routerLink="page1"   routerLinkActive="active">E-Service</a>
          <a routerLink="page2"   routerLinkActive="active">Service </a>
          <a routerLink="page3" routerLinkActive="active">Help And Support</a>
        </nav>
        <div aria-label="user selection" [matMenuTriggerFor]="menu" class="userMenu">
          <img matChipAvatar src="../../assets/avatar.svg" alt="Photo user"/>
          <span>
            User Name Here
          <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>

        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login-en">Change Account<mat-icon>shuffle</mat-icon></button>
        <span style="color:#056946;">Businesses And Government</span>
        <mat-divider style="width:90%; margin: 10px auto;"></mat-divider>
        <button mat-menu-item routerLink="/login-en"> <mat-icon>person_add</mat-icon> New Account</button>
        <span>  Recruitement And Training</span>
        <br/>
        <span>Employee</span>
        <mat-divider style="width:90%; margin: 10px auto;"></mat-divider>
        <button mat-menu-item><img src="./assets/logoutIcon.svg"/>Log out</button>
        </mat-menu>       
      </header>
      
		</mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>