.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  height: 100vh;
  gap: 10px;
}

.forgot-password h1 {
  font-family: "Bahij TheSansArabicLight";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 39px;
  color: #011f15;

}

.forgot-password p {
  font-family: "Bahij TheSansArabicLight";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #66716d;
  max-width: 520px;
}

.forgot-password .mat-mdc-form-field {
    width: 100%;
    max-width: 520px;
    margin: 16px;
}
.forgot-password button {
  background: #dddddd;
  border-radius: 100px;
  font-family: "Bahij TheSansArabic";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1px;
  color: #b6b6b6;
  border: none;
  height: 54px;
  width: 154px;
}

@media (max-width: 768px) {
    .forgot-password {
        padding: 16px;
    }
    .forgot-password h1 {
       font-size: 20px;
       text-align: center;
    }

    .forgot-password p {
       font-size: 10px;
       text-align: center;
    }


}
