<div class="forgot-password" dir="rtl">
  <img src="../../assets/Icons/email-icon.svg" />
  <h1>نسيت بيانات المرور الأعمال والجهات الحكومية</h1>
  <p>
    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
    عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.
  </p>
  <mat-form-field appearance="outline">
    <mat-label class="input-label">رقم الهاتف الجوال</mat-label>
    <input matInput placeholder="أدخل رقم الهاتف الجوال" />
  </mat-form-field>
  <button routerLink="/code-confirmation">ارسل الكود</button>
</div>
