<div dir="rtl">
    <div class="find-service">
        <h1>هل وجدت خدمتك</h1>
        <div class="questions">
          <div class="question">
            <div class="title">
              1-
              <br />
              تحديد ألهوية
            </div>
            <div class="response">
              يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في
              مدينة الرياض الذي يوفر
            </div>
          </div>
    
          <div class="question">
            <div class="title">
              2-
              <br />
              إختيار نوع الخدمة
            </div>
            <div class="response">
              يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في
              مدينة الرياض الذي يوفر
            </div>
          </div>
    
          <div class="question">
            <div class="title">
              3-
              <br />
              إختيار الخدمة
            </div>
            <div class="response">
              يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في
              مدينة الرياض الذي يوفر
            </div>
          </div>
        </div>
        <div class="action">
          <button>الدعم والمساعدة<img src="../../assets/arrow-up-left.svg"/></button>
        </div>
      </div>
</div>
