<div class="pageContent" dir="rtl">
  <div class="topHeader">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      [(ngModel)]="defaultLanguage"
    >
      <mat-button-toggle value="en" routerLink="/e-service-en"
        >English</mat-button-toggle
      >
      <mat-button-toggle value="ar" routerLink="/e-service">العربية</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="socialIcons">
      <p>تفضلوا بالانضمام إلينا</p>
      <i class="fa fa-youtube-play"></i>
      <i class="fa fa-twitter"></i>
    </div>
  </div>
  <app-navbar></app-navbar>
  <div class="header">
    <h1>خدمة إنشاء معاملة الكترونية</h1>
    <nav class="">
      <h6 class="mb-0" class="breadCrumb">
        <a href="/e-service" class="text-reset">الخدمات الإلكترونية</a>
        <span>></span>
        <a href="" class="text-reset">الرخص والشهادات </a>
        <span>></span>
        <a href="" class="text-reset">خدمة إنشاء معاملة الكترونية</a>
      </h6>
    </nav>
    <div class="actions">
      <Button mat-fab extended routerLink="." class="add-fav">
        إضافة للمفضلة
        <mat-icon>bookmark_border</mat-icon>
      </Button>
      <Button mat-fab extended routerLink="contract-eo" class="start-service">
        بدء الخدمة
        <img src="../../assets/arrow-up-left.svg"/>
      </Button>
    </div>
  </div>
  <div class="cards">
    <div class="top-card" *ngFor="let card of topCards">
     <img src={{card.src}}/>
     <h1>{{card.title}}</h1>
     <p>{{card.time}}</p>
    </div>
  </div>
  <div class="eservice-details">
    <div class="service-inforamtion">
      <h1>معلومات عن الخدمة</h1>
      <p>إجراء يصدر عنه الإفادة عن مناسبة ممارسة نشاط مهني في موقع محدد</p>
    </div>
    <div class="questions">
      <div class="question">
        <div
          class="question-text"
          *ngFor="let question of questions"
          (click)="toggleElement(question.id)"
          [class.selected]="question.id === activeQuestion"
        >
          {{ question?.title }}
        </div>
      </div>
      <div class="response">
        <div class="steps" *ngFor="let question of questions">
          <div class="step" *ngFor="let response of question.response">
            <div *ngIf="activeQuestion === question.id" class="step" [class.hideStep]="activeQuestion !== question.id">
              <p>{{ response?.content }}</p>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <!-- <div>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              اجرائات إستخدام الخدمة
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              الإشتراطات
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
            القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصف
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              المرفقات
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div> -->
  </div>

  <div class="service-guide">
    <h1>دليل الخدمة</h1>
    <p>
      هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
      عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
      يقرأها.
    </p>
    <Button>تحميل<img src="../../assets/pdfIcon.svg" /></Button>
  </div>

  <div class="asked-questions">
    <div class="title">
      <h1>أسئلة شائعة عن الخدمة</h1>
      <p>
        يوفر نظام الخدمات الالكترونية جميع الخدمات التي يحتاجها المواطنين في
        مدينة الرياض الذي يوفر
      </p>
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              هل بإمكاني طباعة الرخصة من الموقع؟
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              كيف احسب رسوم الخدمات ؟
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
            القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصف
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              طريقة معرفة تفاصيل الفواتير وطباعتها؟
              <mat-icon *ngIf="!panelOpenState">add</mat-icon>
              <mat-icon *ngIf="panelOpenState">remove</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>بتسجيل الدخول على البوابة الإلكترونية</p>
          <p>اختيار الخدمات الإلكترونية</p>
          <p>اختيار نظام سداد ثم اختيار الاستعلام عن فاتورة سداد</p>
          <p>ادخال رقم الاثبات ورقم الفاتورة ثم النقر على البحث ثم اختيار طباعة الفاتورة لعرض التفاصيل</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- <div class="questions">
      <div class="question">
        <div
          class="question-text"
          *ngFor="let question of questions"
          (click)="toggleElement(question.id)"
          [class.selected]="question.id === activeQuestion"
        >
          {{ question?.title }}
        </div>
      </div>
      <div class="response">
        <mat-divider [vertical]="true"></mat-divider>

        <div class="steps" *ngFor="let question of questions">
          <div class="step" *ngFor="let response of question.response">
            <div *ngIf="activeQuestion === question.id" class="step">
              <div class="number">{{ response?.order }}</div>
              <p>{{ response?.content }}</p>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div> -->
  </div>

  <div class="certificate-services">
    <div class="title">خدمات الرخص والشهادات</div>
    <mat-tab-group>
      <mat-tab label="الرخص الإنشائية"></mat-tab>
      <mat-tab label="الأنشطة التجارية "></mat-tab>
      <mat-tab label="التجهيز"></mat-tab>
      <mat-tab label="الإستثمار"></mat-tab>
      <mat-tab label="الشهادة الصحية "></mat-tab>
      <mat-tab label="بطاقة دلال"></mat-tab>
      <mat-tab label="مواقع البيع والمباسطة"></mat-tab>
    </mat-tab-group>
    <div class="cards">
      <app-card *ngFor="let card of cards" [cardDetails]="card"></app-card>
    </div>
  </div>

  <div class="bottom-content">
    <div class="find-service">
      <app-find-service></app-find-service>
    </div>
    <div class="footer">
      <app-sh-footer></app-sh-footer>
    </div>
  </div>

</div>
