.pageContainer {
    padding: 64px;
}

.homecards {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
}

.lastCard {
    width: 341px;
    height: 329px;
    padding: 10px;
    background: #3B6959;
    border: 1px solid #B4D2C7;
    border-radius: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastCard .mat-mdc-card-content{
    display: flex;
    width: 341px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.lastCard h1 {
    font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    text-align: right;
    color: #FFFFFF;
}

.homeBottom  {
    margin-top: 10%;
    background: #69A590;
    border-radius: 51px;
    padding-bottom: 16px;
    position: relative;
}

.homeBottomContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 50px;
}

.homeBottomContent img {
    margin-top: -5%;
    width: 45%;
}

.homeBottomContent .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 32px;
    
}

.homeBottomContent .details h1 {
    font-family: 'Bahij TheSansArabicLight';
    font-style: normal;
    font-weight: 500;
    font-size: 56.03px;
    line-height: 86px;
    text-align: right;
    color: #FFFFFF;
}
.homeBottomContent .details p {
    font-family: 'Bahij TheSansArabicExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}

.homeBottomContent .details button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #011F15;
  border-radius: 100px;
  font-family: 'Bahij TheSansArabicLight';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #E6F0EC;
  width: 284px;
  height: 79px;

}

.homeBottomContent .details button img {
    width: 18px;
}

@media screen and (max-width: 1023px) {
    .pageContainer {
        padding: 64px 0;
    }
    .homeBottomContent {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    }
    .homeBottomContent img {
        width: 90%;
    }
    .homeBottomContent .details h1 {
        font-size: 46px;
    }
    .homeBottomContent .details p{
        font-size: 12px;
    }
}
.p8{
    font-family: 'Bahij TheSansArabic';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #011F15;
}



