<div class="code-confirmation" dir="ltr">
    <img src="../../assets/Icons/email-icon.svg" />
    <h1>Verification code</h1>
    <p> Enter the verification code sent to the number <span>603**** </span></p>
  <form action="#">
    <div class="d-flex mb-3">
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
      <input type="tel" maxlength="1" pattern="[0-9]" class="form-control" placeholder="-"/>
    </div>
    <p>Are you facing a problem during verification ?<span>00:59</span></p>
    <button type="submit" routerLink="/home-en">Next</button>
  </form>
</div>
